<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a ejs file</h1>
<h1>hey, <%=user.name %> </h1>
<h1>hey, <%=user.email %> </h1>

<p>this is root template engine</p>

</body>
</html>


